<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
<!-- mapper.xml에 이름(네임스페이스)을 부여하여 해당 xml 매퍼를 찾아갈 수 있게 함 
(id가 같지만 소속된 매퍼가 다른(네임스페이스가 다른) sql의 충돌 방지) -->
 <update id="memberUpdate" parameterType="MemberDTO">
 	update member
 	set  post=#{post},
 	  username=#{username},
 	  addr1=#{addr1},
 	  addr2=#{addr2},
 	  phone1=#{phone1},
 	  phone2=#{phone2},
 	  phone3=#{phone3},
 	  email1=#{email1},
 	  email2=#{email2}
 	where userid=#{userid} 	
 </update>

  <select id="mypage" parameterType="string" 
	resultType="MemberDTO">
	 select userid,passwd,username,post,addr1,addr2,
					   phone1,phone2,phone3,email1,email2
	 from member
	 where userid =#{userid} 
	</select>
	
	<select id="login" parameterType="hashmap" 
	resultType="MemberDTO">
	 select userid,passwd,username,post,addr1,addr2,
					   phone1,phone2,phone3,email1,email2
	 from member
	 where userid =#{userid} and passwd=#{passwd}
	</select>

	<insert id="memberAdd" parameterType="MemberDTO">
	insert into member(userid,passwd,username,post,addr1,addr2,
					   phone1,phone2,phone3,email1,email2)
	values( #{userid},#{passwd},#{username},#{post},#{addr1},#{addr2},
	        #{phone1},#{phone2},#{phone3},#{email1},#{email2})
	
	</insert>

</mapper>